asgiref==3.10.0
certifi==2026.2.25
charset-normalizer==3.4.7
distlib==0.4.0
Django==5.2.8
django-admin-interface==0.30.1
django-ckeditor==6.7.3
django-colorfield==0.14.0
django-crispy-forms==2.5
django-filter==25.2
django-js-asset==3.1.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
filelock==3.28.0
gunicorn==26.0.0
idna==3.11
openlocationcode==1.0.1
packaging==26.2
pillow==12.0.0
platformdirs==4.9.6
psycopg2-binary==2.9.11
PyJWT==2.12.1
python-discovery==1.2.2
python-dotenv==1.2.2
python-slugify==8.0.4
razorpay==2.0.1
requests==2.33.1
sqlparse==0.5.3
text-unidecode==1.3
tzdata==2025.2
urllib3==2.6.3
virtualenv==21.2.4
whitenoise==6.12.0
dj-database-url==3.1.2
